# Binaries
src/passivedns

# Object files
*.o

# Autotools files
*.swp
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
missing
Makefile
Makefile.in
src/config.h
src/config.h.in
src/.deps/
src/Makefile
src/Makefile.in
src/stamp-h1

# Debian packaging addons:
*~
.#*
/debian/.debhelper/
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/passivedns.debhelper.log
/debian/passivedns.postinst.debhelper
/debian/passivedns.postrm.debhelper
/debian/passivedns.prerm.debhelper
/debian/passivedns.substvars
/debian/passivedns/
